/* weather app styles */

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("/images/planet-1700481_1920.jpg");
  background-position: fixed;
  background-size: cover;
  font-size: 18px;
}

header {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
#search {
  padding: 1rem;
  border-radius: 50px;
  width: 300px;
  background: #fefefe;
  font-size: 18px;
}

form.search {
  display: flex;
  flex-direction: row;
}
form.search input[type="search"] {
  border: none;
  width: 300px;
  padding: 25px;
  height: 60px;
}

form.search input:focus {
  outline: none;
}

form.search button {
  padding: 25px;
  border: none;
  height: 60px;
  width: 60px;
  background: #2196f3;
  color: white;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

.weather_stats {
  width: 700px;
  padding: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  color: white;
  background: rgba(49, 107, 164, 0.7);
  border-radius: 25px;
  box-shadow: 0 0.5rem 3.5rem rgba(0, 0, 0, 0.15);
}
.weather_stats .stats_header {
  display: flex;
  justify-content: space-between;
}
.weather_stats .stats_body {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-gap: 0;
}

.stats_meta {
  grid-column-start: 1;
  grid-column-end: 2;
}
.stats_illustration {
  grid-column-start: 2;
  grid-column-end: 3;
}

.stats_meta_2 {
  grid-column-start: 3;
  grid-column-end: 4;
}
#stats_image {
  max-width: 100%;
  height: auto;
}

.font-48 {
  font-size: 3.5rem;
  margin: 0;
}
.font-36 {
  font-size: 3.5rem;
  color: white;
}

.font-24 {
  font-size: 2.5rem;
}

.font-18 {
  font-size: 2rem;
}
