/* weather app styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&family=Poppins&family=Raleway:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: url("/assets/images/planet-1700481_1920.jpg");
  background-position: fixed;
  background-size: cover;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  font-weight: 700;
}
header {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
form.search {
  display: flex;
  flex-direction: row;
}
form.search input[type="search"] {
  border: none;
  width: 300px;
  padding: 15px;
  height: 50px;
  font-size: 18px;
  background: #fefefe;
  align-items: center;
  justify-content: center;
  border-radius: 50rem 0 0 50rem;
  text-transform: capitalize;
}
form.search input:focus,
form.search button:focus {
  background: rgba(95, 159, 213, 0.5);
  color: #fefefe;
  outline: none;
}
form.search input[type="search"]:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: transparent;
}
form.search input[type="search"]:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
}
form.search button {
  font-size: 18px;
  padding: 15px;
  border: none;
  height: 50px;
  width: 50px;
  background: #2196f3;
  color: white;
  cursor: pointer;
  border-radius: 0 50rem 50rem 0;
}
form.search button:hover {
  background: #0b7dda;
}
.weather_stats {
  width: 992px;
  padding: 2rem;
  margin: 25px auto 100px auto;
  color: #fff;
  background: rgba(49, 107, 164, 0.85);
  border-radius: 25px;
  text-align: center;
}
.stats_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats_body {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-gap: 0;
}
.stats_meta_0 {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
}
.stats_meta_1 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.stats_image_box {
  width: 300px;
  height: 250px;
}
#stats_image {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.stats_meta_2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.stats_details {
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.font-48 {
  font-size: 3.5rem;
  margin: 0;
}
.font-24 {
  font-size: 2.4rem;
  color: white;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
  }
  form.search input[type="search"] {
    width: 250px;
  }
  .weather_stats {
    max-width: 95%;
    margin: auto;
    padding: 1rem;
    text-align: center;
  }
  .stats_body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
  .stats_meta_0 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .stats_meta_1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .stats_meta_2 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  .stats_image_box {
    width: auto;
    height: auto;
  }
}
